.admin-wrap{
    background-color:black;
    box-sizing: border-box;
    padding:2vw;
    color:white;
    height:100vh;
    overflow-y: auto;
}




.main-section-bar{
    display: flex;
    height:100%;
}


.settings-bar{
    flex:1;
    background-color: rgb(71, 71, 149);
    box-sizing: border-box;
    padding:3vw;
    width:max-content;
    overflow-y: scroll;
}

.iframe-bar{
    flex:1.5;
}

.form-table{
    width:100%;
}

.form-table input[type="text"]{
    width:100%;
    margin-top:0.1vw;
    margin-bottom:1vw;
}

input{
    width:100%;
}





